.navbar-underline {
  border-bottom: 1px solid var(--dark-green);
}

.logo-style {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-dropdown-title .dropdown-toggle {
  color: var(--dark-green);
}

.nav-dropdown-title .dropdown-toggle:hover {
  color: var(--dark-green);
  text-decoration: underline;
}

.link-style:hover {
  text-decoration: underline;
}

/* .custom-nav-dropdown .dropdown-item:hover {
  background-color: transparent;
} */

.custom-nav-dropdown .dropdown-item:active {
  background-color: transparent;
}

.custom-nav-dropdown .dropdown-item {
  cursor: pointer;
}
