@import "../../../theme-color.scss";

.footer-top {
  background-color: $dark-green;
}
.footer-bottom {
  background-color: $dark-green;
}
.link-white {
  text-decoration: none;
}
#scroll-top {
  text-decoration: underline;
}
