
.footer-top {
  background-color: var(--dark-green);
}
.footer-bottom {
  background-color: var(--light-green);
}
.link-white{
  text-decoration: none;
}
#scroll-top {
  text-decoration: underline;
}