@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/_variables";
@import "theme-color.scss";

$custom-colors: (
  "dark-green": $dark-green,
  "light-green": $light-green,
  "light-grey": $light-grey,
  "white": $white,
  "grey": $grey,
  "snow-white": $snow-white,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../node_modules/bootstrap/scss/bootstrap";

.light-sec-space {
  margin: 70px auto;
}

.grey-sec-space {
  border-top: 70px solid $light-grey;
  border-bottom: 70px solid $light-grey;
}

.li-before::before {
  content: "/";
  color: $light-green;
  margin: 0 0.5rem;
}

.path-text {
  color: $light-green;
}

.path-text:hover {
  cursor: pointer;
}

.pointer:hover {
  cursor: pointer;
}

.card-border-top-line {
  border-top: 2px solid $dark-green;
}

.card-min-height {
  min-height: 450px;
}

.star-card-height {
  height: 400px;
}
